<!-- Start Footer
	============================================= -->
<footer class="footer-3 footer">
  <div class="container">
    <div class="footer-widget">
      <div class="footer-widget-wrapper de-padding">
        <div class="footer-widget-box ab-us">
          <h4 class="foo-widget-title">About Us</h4>
          <p>189, Kyes road, F1 456 Caron Town. Office No 3456</p>
          <div class="footer-addr">
            <ul>
              <li>
                <i class="fas fa-envelope-open"></i> Medihouse@example.com
              </li>
              <li><i class="fas fa-phone"></i>Phone: 234-5825852763</li>
            </ul>
          </div>
          <ul class="footer-social">
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer-widget-box footer-sub">
          <h4 class="foo-widget-title">Our Departments.</h4>
          <ul class="foo-list">
            <li>
              <i class="fas fa-arrow-circle-right"></i
              ><a href="#">Medoz & intensive care</a>
            </li>
            <li>
              <i class="fas fa-arrow-circle-right"></i><a href="#">Home Care</a>
            </li>
            <li>
              <i class="fas fa-arrow-circle-right"></i
              ><a href="#">Caregivers</a>
            </li>
            <li>
              <i class="fas fa-arrow-circle-right"></i
              ><a href="#">Diagnosis & Investigation</a>
            </li>
            <li>
              <i class="fas fa-arrow-circle-right"></i
              ><a href="#">Medical & Surgical</a>
            </li>
            <li>
              <i class="fas fa-arrow-circle-right"></i
              ><a href="#">Mental Health</a>
            </li>
          </ul>
        </div>
        <div class="footer-widget-box footer-cat">
          <h4 class="foo-widget-title">Helpful Links.</h4>
          <ul class="foo-list">
            <li>
              <i class="fas fa-arrow-circle-right"></i
              ><a href="#">Who We Are</a>
            </li>
            <li>
              <i class="fas fa-arrow-circle-right"></i
              ><a href="#">Our Team Mission</a>
            </li>
            <li>
              <i class="fas fa-arrow-circle-right"></i><a href="#">History</a>
            </li>
            <li>
              <i class="fas fa-arrow-circle-right"></i
              ><a href="#">Awards since </a>
            </li>
            <li>
              <i class="fas fa-arrow-circle-right"></i
              ><a href="#">Experience Perpose</a>
            </li>
            <li>
              <i class="fas fa-arrow-circle-right"></i
              ><a href="#">Success Story</a>
            </li>
            <li>
              <i class="fas fa-arrow-circle-right"></i
              ><a href="#">Specialised Support</a>
            </li>
          </ul>
        </div>
        <div class="footer-widget-box footer-link">
          <h4 class="foo-widget-title">Opening Hours</h4>
          <ul class="ads">
            <li><span>Monday - Tuesday</span><span>9.00 - 17.00</span></li>
            <li><span>Saturday</span><span>9.00 - 16.00</span></li>
            <li><span>Monday - Tuesday</span><span>9.00 - 17.00</span></li>
            <li><span>Sunday</span><span> Closed</span></li>
          </ul>
          <div class="subscribe">
            <form>
              <input type="text" placeholder="Type Your Email" />
              <button type="submit">
                <i class="fas fa-location-arrow"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer-->

<!-- Start display none
	============================================= -->
<div class="dw-ti d-none mb-40">
  <div class="simply-countdown simply-countdown-countup"></div>
</div>
<!-- End display none-->

<!-- Start Scroll top
	============================================= -->
<a href="#bdy" id="scrtop" class="smooth-menu"><i class="ti-arrow-up"></i></a>
<!-- End Scroll top-->
