<!-- Start Hero
		============================================= -->
<div id="home" class="hero-section h-11">
  <div class="hero-sliderr">
    <!-- owl Slider Begin -->
    <div
      class="hero-single"
      style="background-image: url(assets/img/header/hdr-7.jpg)"
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-6">
            <div class="hero-content c-1">
              <span class="hero-p1">Welcome to RAFRAFI House Care</span>
              <h2>Looking for home CareGiver?</h2>
              <p>We Take care of you, and your family at home</p>
              <div class="hro-btn">
                <a href="contact.html" class="hh-11-btn"
                  >Start services <i class="ti ti-arrow-right"></i
                ></a>
                <a
                  href="https://youtu.be/_iktURk0X-A"
                  class="item ply-btn popup-youtube"
                  ><i
                    ><img
                      src="assets/img/icons/play-white.png"
                      alt="thumb" /></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-xl-5">
            <div class="right-bg"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- single Slider End -->
  </div>
</div>
<!-- End Hero -->
